name: MyFirstWorkflow
on: push
jobs:
  my_first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Creating a report file
        run: echo "This is my first GitHub Actions workflow!" > report.txt

      - name: Upload report artifact
        uses: actions/upload-artifact@v3
        with:
          name: my-report
          path: report.txt



