name: MyFirstWorkflow
on: push
jobs:
  my_first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Clone Repo
        run: git clone https://github.com/iamprashantgavate/Github-Actions.git

      - name: check files in repo
        run: |
          cd Github-Actions
          ls -l 
