name: MyFirstWorkflow
on: push
jobs:
  my_first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Print Welcome message
        run: echo "Welcome to the world of GitHub Actions!"

      - name: Check runner OS
        run: cat /etc/os-release